<div class="container-fluid-center">
	<div class="row">
		<div style="width: 2000px; height: 200px; text-align: center; background: lightcoral; align: center;">

			image
		</div>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<h2 style="text-align: center;">
			India's Leading Sheet Metal Fabricator
		</h2>
		<p>
			Fabricators India is one of the largest engineering and fabrication companies in India, delivering precision sheet metal fabrication and CNC machining services to large OEMs. Working from multiple manufacturing sites across India and operating in many industries including Railways, Defence, Switchgear, Kiosk & Vending, Automotive, Architectural and Food Processing, Fabricators India is well placed to meet any subcontract engineering and metalworking requirement.
		</p>
		<p>
			Whether your product requires CNC Laser Cutting, CNC Machining, Metal Forming, Welding, Powder coating, or Dedicated Stainless Steel Fabrication, Fabricators India has the engineering capacity to fulfil customer requirements with agility and speed. With extensive in-house capabilities and state-of-the-art technology, Fabricators India is truly is your one-stop metalworking partner.
		</p>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="text-align: center; width: 500; height: 300px; margin-left: 10px; margin-right: 10px; background-color: skyblue;">
			image
		</div>
		<div class="col" style="text-align: center; width: 500; height: 300px; margin-left: 10px; margin-right: 10px; background-color: skyblue;">
			image2
		</div>
		<div class="col" style="text-align: center; width: 500; height: 300px; margin-left: 10px; margin-right: 10px; background-color: skyblue;">
			image3
		</div>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="margin-left: 50px;">
			<p>
				Over 50 years of Experience in Sheet Metal Industry with an extensive range of CNC Machinery.
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				Working along with one of the fastest Laser Cutting machines across the country, we can assure you of fast turnaround times for your laser cutting and fabrication needs.
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				Locations in India with access to Ports and Highways in order to fulfil export and domestic requirements.
			</p>
		</div>
	</div>
	<div class="row" style="width: 2000px;">
		<h2 style= "text-align: center;">
			OUR SERVICES

		</h2>
		<p style="text-align: center;">
			We offer a vast gamut of services with extensive in-house technologies to meet the needs of Sheet Metal Fabrication for our clients.
		</p>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image4
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image5
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image6
		</div>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="margin-left: 50px;">
			<p>
				IRON WELDING
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				STEEL WELDING
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				MIG WELDING
			</p>
		</div>
	</div>
	<div class="row" style="width: 2000px;">
		<h2 style= "text-align: center;">
			WE WORKED FOR
		</h2>
		<p style="text-align: center;">
			We deliver effective metal manufacturing solutions across a range of industries and product lines. 
		</p>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image7
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image8
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image9
		</div>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="margin-left: 50px;">
			<p>
				ABC PVT LTD
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				XYZ PVT LTD
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				123 PVT LTD
			</p>
		</div>
	</div>
		<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image10
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image11
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image12
		</div>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="margin-left: 50px;">
			<p>
				JKL PVT LTD
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				PQR PVT LTD
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				111 PVT LTD
			</p>
		</div>
	</div>
	<div class="row" style="width: 2000px;">
		<h2 style= "text-align: center;">
			 ARCHITECTURAL APPLICATIONS

		</h2>
		<p style="text-align: center;">
			Our designers enable our clients achieve excellent results for metal fabricated and laser cut architectural products and furniture accessories. 
		</p>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image13
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image14
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image15
		</div>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="margin-left: 50px;">
			<p>
				doors	
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				windows
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				tin shade
			</p>
		</div>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image10
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image11
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image12
		</div>
	</div>
	<div class="row" style="background-color: lightgray; width: 2000px;">
		<div class="col" style="margin-left: 50px;">
			<p>
				baricates
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				railing
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				grills
			</p>
		</div>
	</div>
	<div class="row" style="width: 2000px;">
		<h2 style= "text-align: center;">
			 WORKING WITH SZAMAL ENTERPRISES

		</h2>
		
	</div>
	<div class="row" style="width: 2000px;">
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image16
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image17
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image18
		</div>
	</div>
	<div class="row" style="width: 2000px;">
		<div class="col" style="margin-left: 50px;">
			<p>
				Finishing
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				Nice Cutting
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				Commitment
			</p>
		</div>
	</div>
	<div class="row" style="width: 2000px;">
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image19
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image20
		</div>
		<div class="col" style="text-align: center; width: 500px; height: 300px; margin-left: 50px; background-color: skyblue;">
			image21
		</div>
	</div>
	<div class="row" style="width: 2000px;">
		<div class="col" style="margin-left: 50px;">
			<p>
				Best workers
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				Precesion finish
			</p>
		</div>
		<div class="col" style="margin-left: 50px;">
			<p>
				Fast work
			</p>
		</div>
	</div>

</div>
